.promo {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 15%, 1);
}

.promo__title {
  margin: 160px 0 151px 0;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.promo__navtab-container {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.promo__navtab-link {
  text-decoration: none;
  padding: 10px 17px;
  background: hsla(0, 0%, 19%, 1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
}