.navtab {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navtab__link {
  text-decoration: none;
  padding: 10px 0;
  background: hsla(0, 0%, 19%, 1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 96px;
  box-sizing: border-box;
  transition: opacity .3s ease;
}

.navtab__link:hover {
  opacity: .8;
}

@media (max-width: 500px) {
  .navtab {
    gap: 6px;
    margin-bottom: 17px;
  }
  .navtab__link {
    width: 82px;
    font-size: 10px;
    padding: 5px 0;
    border-radius: 6px;
  }
}